<%= turbo_stream_from("game_#{@game.id}")  %>

<style>
  .game .card a {
    cursor: not-allowed;
  }

  .game .avatar-you {
    visibility: hidden;
  }

  .game .wait {
    display: inline;
  }

  .game .play {
    display: none;
  }

  .game .avatar-you-<%= session[:user_id] %> {
    visibility: visible;
  }


  .game .player-<%= session[:user_id] %> .card a {
    cursor: pointer;
  }

  .game .player-<%= session[:user_id] %> .play {
    display: inline
  }

  .game .player-<%= session[:user_id] %> .wait {
    display: none;
  }
</style>

<div class="flex w-full flex-col mb-20 game">
  <div class="flex flex-col items-center mb-8">
    <h1 class="text-3xl text-center mb-2">Welcome to Kittens Memory Card Game</h1>
    <div class=" mb-2">Invite friends by sharing the URL</div>
  </div>

  <%= render 'games/game', game: @game%>
</div>
